doctype html
html
  head
    //-
      // 
      SLASH
      SLASH.
    title //slashslash.
    link(rel='stylesheet', href='/stylesheets/header.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body
    h1(id='slashtitl' onclick='homeRedi();') //
        br
        .
            SLASH
        br
        .
            SLASH.
    block content