doctype html
html
  head
    //-
      // 
      SLASH
      SLASH.
    title //slashslash.
    link(rel='stylesheet', href='/stylesheets/main.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body
    block content
