doctype html
html
  head
    title //slashslash.
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/buynow.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body
    h1(id='soon') SOON.
    h1(id='countdown') 
    h1(id='date') 01. 
        br
        .
            01.
        br
        .
            19
    script(src='/javascripts/count.js')
    

