doctype html
html
    //-
        // 
        SLASH
        SLASH.
    head
        title // - sphere.
        link(href='/stylesheets/sphere.css', rel='stylesheet', type='text/css')
    body
        canvas(id='canvas',onclick='addCounter()')  
        center
            | THIS IS
            br
            | NOT A 
            br
            | TEST.
            script(src='https://cdnjs.cloudflare.com/ajax/libs/three.js/r79/three.min.js')
            script(src='/javascripts/sphere.js')