extends header

block content
    link(rel="stylesheet", href="/stylesheets/success.css")
    div
        h2(id='purchased') YOUR ORDER WAS COMPLETED.
        img(src='/images/check.svg')
    script(src='/javascripts/header.js')