@font-face {
    font-family: 'Avenir Next';
    src: url('/fonts/AvenirNext-BoldItalic.woff2') format('woff2'),
        url('/fonts/AvenirNext-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('/fonts/AvenirNext-Bold.woff2') format('woff2'),
        url('/fonts/AvenirNext-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('/fonts/AvenirNext-Regular.woff2') format('woff2'),
        url('/fonts/AvenirNext-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



h1 {
    margin:0;
    margin-left: 50px;

}

#soon {
    margin-bottom: 0;
    margin-top: 0px;
}

#date {
    margin-top: -25px;
}

#countdown {
    font-style: italic;
    color: #cdcdcd;
    font-size: 5em;
    margin-top: -35px;
}

@media only screen and (max-width: 768px) {
    #countdown {
        font-size: 3.5em;
    }

    #soon {
        margin-top: 20px;
    }
}