/* header */

@font-face {
    font-family: 'Avenir Next';
    src: url('/fonts/AvenirNext-BoldItalic.woff2') format('woff2'),
        url('/fonts/AvenirNext-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('/fonts/AvenirNext-Bold.woff2') format('woff2'),
        url('/fonts/AvenirNext-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('/fonts/AvenirNext-Regular.woff2') format('woff2'),
        url('/fonts/AvenirNext-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



body {
    margin:0;
    padding:0;
    font-family: 'Avenir Next', Helvetica;
    width: 60%;
    margin: 0 auto;
    background-color: #F4F4F4;
}

#slashtitl {
    margin-left: 10%;
    transition: 0.2s all;
}

#slashtitl:hover {
    color: #616161;
    cursor: pointer;
}
