@font-face {
    font-family: 'Avenir Next';
    src: url('/fonts/AvenirNext-BoldItalic.woff2') format('woff2'),
        url('/fonts/AvenirNext-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('/fonts/AvenirNext-Bold.woff2') format('woff2'),
        url('/fonts/AvenirNext-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('/fonts/AvenirNext-Regular.woff2') format('woff2'),
        url('/fonts/AvenirNext-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



body {
    margin: 0;
    padding: 0;
    font-family: 'Avenir Next', Helvetica;
}

center {
    margin-top: -65vh;
    z-index: 100;
    font-size: 5em;
    color: #262626;
    position: absolute;
    text-align: left;
    margin-left: 25%;
    font-weight: bold;
}

canvas {
    z-index: 1;
}

@media only screen and (max-width: 1000px) {
    center {
        font-size: 8em;
    }
}